{% extends "bootstrap/base.html" %}

{% block title %}
Admin
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='daftar.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SEKTOR 1.7</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Activity<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Pengurus RW</a></li>
                            <li><a href="#">Program</a></li>
                            <li><a href="#">Perayaan & Silaturahim</a></li>
                            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                            <li><a href="{{ url_for('wargalist') }}">Daftar Warga</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="#">Daftar</a></li>
                    {% if name == 'admin' %}
                    <li><a href="{{ url_for('home') }}">Settings</a></li>
                    {% endif %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ name }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li><a href="{{ url_for('changepsw') }}">Change Password</a></li>
                            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1>
            <br/>
            <img src="../static/1-7-2.png" alt="1.7" class="logo">
        </h1>
        <br/>
        <h2 ALIGN="center">FORMULIR PENDAFTARAN DATA PRIBADI WARGA RW011 SEKTOR 1.7</h2>
        {% if content %}
        <p class="message">{{ content | safe }}</p>
        {% else %}
        <br/>
        {% endif %}
        <form class="form-group" action="/submit" method="POST">
            <div class="form-group">
                <h3>Nama Lengkap</h3>
                <input
                    type="text"
                    name="name"
                    placeholder="Nama lengkap warga"
                />
            </div>
            <div class="form-group">
                <h3>Alias</h3>
                <input
                    type="text"
                    name="alias"
                    placeholder="Nama panggilan sehari-hari"
                />
            </div>
            <div class="form-group">
                <h3>Kota Lahir</h3>
                <input
                    type="text"
                    name="kota"
                    placeholder="Nama kota tempat lahir"
                />
            </div>
            <div class="form-group">
                <h3>Tanggal Lahir</h3>
                <input
                    type="date"
                    name="date"
                    placeholder="Tanggal lahir"
                />
            </div>
            <div class="form-group">
                <h3>Jenis Kelamin</h3>
                <input type="radio" name="kelamin" value="Laki-laki"checked /> Laki-laki
                <input type="radio" name="kelamin" value="Perempuan"/> Perempuan
            </div>
            <div class="form-group">
                <h3>Nomor Kartu Keluarga (KK)</h3>
                <input
                    type="integer"
                    length="16"
                    name="no_kk"
                    placeholder="Nomor KK"
                />
            </div>
            <div class="form-group">
                <h3>Nomor Induk Kependudukan (NIK)</h3>
                <input
                    type="integer"
                    length="16"
                    name="no_nik"
                    placeholder="NIK"
                />
            </div>
            <div class="form-group">
                <h3>Alamat KTP</h3>
                <input
                    type="text"
                    name="alamatktp"
                    placeholder="Alamat di KTP"
                />
            </div>
            <div class="form-group">
                <h3>Kota KTP</h3>
                <input
                    type="text"
                    name="kotaktp"
                    placeholder="Nama kota di KTP"
                />
            </div>
            <div class="form-group">
                <h3>Keanggotaan Keluarga Keluarga</h3>
                <select name="anggota">
                    <option value="">Pilih Keanggotaan Kartu Keluarga</option>
                    <option value="Kepala Keluarga">Kepala Keluarga</option>
                    <option value="Istri">Istri</option>
                    <option value="Anak">Anak</option>
                    <option value="Lainnya">Lainnya</option>
                </select>
            </div>
            <div class="form-group">
                <h3>Lokasi Rumah Blok i / _</h3>
                <input type="radio" name="blok_i_" value="1" checked /> 1
                <input type="radio" name="blok_i_" value="2"/> 2
                <input type="radio" name="blok_i_" value="3"/> 3
                <input type="radio" name="blok_i_" value="4"/> 4
                <input type="radio" name="blok_i_" value="5"/> 5
            </div>
            <div class="form-group">
                <h3>Nomor Rumah</h3>
                <input
                    type="integer"
                    name="no_rumah"
                    placeholder="Nomor Rumah"
                />
            </div>
            <div class="form-group">
                <h3>Status Rumah</h3>
                <input type="radio" name="status_rumah" value="Rumah milik"checked /> Rumah milik
                <input type="radio" name="status_rumah" value="Rumah kontrak"/> Rumah kontrak
            </div>
            <div class="form-group">
                <h3>RT</h3>
                <input type="radio" name="rt" value="01" checked /> 01
                <input type="radio" name="rt" value="02"/> 02
            </div>
            <div class="form-group">
                <h3>Pekerjaan</h3>
                <input type="radio" name="pekerjaan" value="ASN"/> ASN
                <input type="radio" name="pekerjaan" value="Karyawan Swasta"/> Karyawan Swasta
                <input type="radio" name="pekerjaan" value="Wira Swasta"/> Wira Swasta
                <input type="radio" name="pekerjaan" value="Pelajar/Mahasiswa"/> Pelajar/Mahasiswa
                <input type="radio" name="pekerjaan" value="Lainnya"checked /> Lainnya
            </div>
            <div class="form-group">
                <h3>Phone</h3>
                <input
                    type="text"
                    name="phone"
                    placeholder="Nomor Telepon (Handphone)"
                />
            </div>
            <div class="form-group">
                <h3>Email</h3>
                <input
                    type="text"
                    name="email"
                    placeholder="Akun Email"
                />
            </div>
            <input type="submit" value="Simpan" class="btn"/>
        </form>
    </div>
{% endblock %}