<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>SEKTOR 1.7</title>
</head>
<body>
    <div class="container">
        <h1>
            <img src="../static/1-7-2.png" alt="1.7" class="logo">
        </h1>
        <br/>
        <h2 ALIGN="center">SELAMAT DATANG</h2>
        <br/>
        <p ALIGN="center">
        Ini adalah laman warga RW011 Sektor 1.7 BSD
        <br/>
        Kelurahan Lengkong Gudang Timur
        <br/>
        Kecamatan Serpong
        <br/>
        Kota Tangerang Selatan
        <br/>
        Provinsi BANTEN
        <br/>
        Kode pos 15318
        </p>
        <br/>
        <br/>
        <a class="btn-act" href="/daftar" ALIGN="center">Daftarkan Data Warga</a>
    </div>
</body>
</html>