{% extends "bootstrap/base.html" %}

{% block title %}
Admin
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='daftar.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SEKTOR 1.7</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Activity<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Pengurus RW</a></li>
                            <li><a href="#">Gotong Royong</a></li>
                            <li><a href="#">Perayaan & Silaturahim</a></li>
                            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                            <li><a href="#">Daftar Warga</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Daftar</a></li>
                    {% if name == 'admin' %}
                    <li><a href="#">Settings</a></li>
                    {% endif %}
                    <li class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ name }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Change Password</a></li>
                            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1>
            <br/>
            <img src="../static/1-7-2.png" alt="1.7" class="logo">
        </h1>
        <br/>
        <h2 ALIGN="center">Password berhasil diperbaharui</h2>
        <!-- <a class="btn-act" href="{{ url_for('home') }}">Home</a> -->
        <a class="btn btn-lg btn-primary btn-block" href="{{ url_for('home') }}">Home</a>
    </div>
{% endblock %}